
#About-Me {
	color: black;
	font-size: 2.1em;
	font-weight: 500; 
	font-family: 'Arial';
	text-decoration: 'none';
	margin-top: 5;
}
.app {
	display: flex; 
	flex-direction: column; 
	background-color: transparent;
}
.marketpage {
	display: flex;
	flex-direction: column;
	background-color: transparent; 
}

.marketgraph {
	background-color: transparent;
	align-items: center;
	width: 50em;
	height: 40em;
	justify-content: center;
}

.bitcoingraph {
	background-color: transparent;
	align-items: center;
	width: 100%;
	height: 40vh;
	justify-content: center;
}

.cryptoexchangeview {

	display: flex;
	background-color: transparent;
	align-items: center;
	width: 100%;
	height: 40vh;
	justify-content: center;
}

.autocorrelationgraph {
	display: flex;
	background-color: transparent;
	width: 50em;
	height: 15em;
}

.loader {
	align-self: center;
	align-items: center;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    margin-top: 20em;
    animation: spin 2s linear infinite;
}

header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
	background: black;
	color: white;

}

.header h1 {
	font-size: 1rem;
	font-weight: '600';
}


/* Add a black background color to the top navigation */
.topnav {
	position: fixed;
	right: 0px;
    background-color: black;
    overflow: hidden;


}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 0 1rem;
    margin-top: 0.5rem;
    text-decoration: none;
    font-size: 1rem;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #4CAF50;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


.headeritems {

}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {
  	display: flex;
  	position: fixed;
  	right: 0px;
  	height: 40%;
  	width: 30%;
  	align-text: center;
  	flex-direction: column;
  }
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
  }
  .topnav.responsive a {
    display: block;
  }


  .headeritems{
  	margin-top: 2rem;
  }


}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}